
.habit-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .journal-container h1{
    font-family: 'Anton';
  }
  .journal-container h2{
    margin-left: 100px;
    font-size: 2.5rem;
  }
  .habit-name {
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  
  .log-btn,
  .delete-btn {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .log-btn {
    background-color: #007bff;
  }
  
  .log-btn:hover {
    background-color: #0056b3;
  }
  
  .delete-btn {
    background-color: #dc3545;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  
  /* Even smaller delete button for journal entries */
  .entry-content .delete-btn {
    padding: 2px 7px; /* Reduce padding */
    font-size: 10px;  /* Smaller font size */
    border-radius: 3px; /* Optional: Adjust border radius */
  }
  .log-habit-section{
    position: relative;
    top:-120px;
    left:110px;
  }
  .journal-entries{
    position: relative;
    top:-90px;
    left:110px
  }
  .log-habit-section h3{
    color: white;
    font-size: 1.5rem;
  }
  
  .journal-entries {
    margin-top: 20px;
  }
  .form label{
    position: relative;
    bottom:150px;
    margin-right: 800px;
  }
  .btn-submit-btn{
    position: relative;
    top: -150px;
    right:500px;
    width: 40%;
    background: green;
    color: white;
    font-size: 20px;
    border-radius: 20px;
  }
  
  .journal-title {
    font-size: 18px;
    color:white;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .entry-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40%;
  }
  
  .entry-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .icon-preview {
    margin-right: 10px;
  }
  
  .entry-content {
    font-size: 14px;
    color: #333;
  }
  
  .entry-content strong {
    font-weight: bold;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    .btn {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    .log-btn,
    .delete-btn {
      padding: 5px 8px;
      font-size: 12px;
    }
  
    /* Even smaller delete button on mobile */
    .entry-content .delete-btn {
      padding: 1px 3px; /* Further reduced padding for mobile */
      font-size: 8px;   /* Even smaller font size */
    }
  }
  