/* Scope all styles to the sign-up page */
.signup-page {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
  }
  
  
  
   .signup-container .title {
    font-size: 42px;
    font-weight: bold;
    color:yellow;
    margin-right: 1200px;
    margin-bottom: 37px;
    font-family: 'Anton';
  }
  
  .white-text {
    color: white; /* Highlight text */
  }
  
  /* Form styles */
   .form-header {
    text-align: center;
    margin-bottom: 60px;
    font-size: 56px;
    color: yellow;
    font-style: italic;
    font-family: 'Anton';
  }
  
  
  .signup-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Adjust blur level */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    border-radius: 20px; /* Optional: rounded corners */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Optional: subtle border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: -50px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color:white;
  }
  
  .form-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-weight: bold;
    box-sizing: border-box;
  }
  
  .create-btn {
    width: 50%;
    padding: 10px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 130px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  